.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    border-radius: 50px;
    width: 320px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 50;
}

.hero h1 span {
    background: linear-gradient(267deg, #DA7C25 10%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 50px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 -5.09%, #B923E1 106.28%);
    cursor: pointer;
}

.hero-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid #FFF;

}

.hero-resume:hover {
    border: 2px solid #B415FF;
}