.myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 80px 170px;
}
  
.myWork-title {
    position: relative;
}

.myWork-title h1 {
    padding: 0px, 40px;
    font-size: 60px;
    font-weight: 50;
    margin-bottom: 30px;
}

.myWork-title img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 1;
    z-index: -1;
}

.myWork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.myWork-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}


  .myWork-container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
  }

  .myWork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid #FFF;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
  }

  .myWork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
  }
  