.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 80px 170px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px, 40px;
    font-size: 60px;
    font-weight: 50;
    margin-bottom: 30px;
}

.about-title img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 1;
    z-index: -1;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-left img {
    width: 500px;
    border-radius: 50px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 -5.09%, #B923E1 106.28%);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 50px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg, #DA7C25 50.41%, #B923E1 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transform: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transform: 0.5s;
}