.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px, 40px;
    font-size: 60px;
    font-weight: 50;
    margin-bottom: 30px;
}

.contact-title img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 1;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 60px;
    font-weight: 300;
    background: linear-gradient(270deg, #DA7C25 80%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}


.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 200;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit {
    border: none;
    color: #FFF;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 -5.09%, #B923E1 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}