.navbar img {
    width: 200px;
    height: auto; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 22px;
}

.nav-menu li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-menu li p {
    margin: 0;
    padding: 0;
}

.nav-menu li img {
    width: 60px;       
    margin-top: 4px;    
}

.nav-connect { 
    padding: 20px 40px; 
    border-radius: 50px; 
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%); 
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s; 
} 
      
.nav-connect:hover { 
    transform:scale(1.05); 
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}